extends layout

block content
  
   h1 #{article.title}
   h4 Content: #{article.body}
   h4=  article.author
     hr
   a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
   a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete

   
   
